{{ form_start(form) }}
    
<div class="container" >
       
 <div class="col-sm-8 center-block" >

               
            <div class="body">
                        <div class="form-group">
                 {{ form_label(form.nom) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.nom) }}
                {{ form_errors(form.nom) }}
                        </div>
                   
                        <div class="form-group">
                 {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.prenom) }}
                {{ form_errors(form.prenom) }}
                        </div>
                         <div class="form-group">
                 {{ form_label(form.cin) }}
                {{ form_widget(form.cin , {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.cin) }}
                {{ form_errors(form.cin) }}
                        </div>
                         <div class="form-group">
                 {{ form_label(form.matiere) }}
                {{ form_widget(form.matiere , {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.matiere) }}
                {{ form_errors(form.matiere) }}
                        </div>
              </div>
                   <div class="footer">
                      <button class="btn btn-primary" >{{ button_label|default('Save') }}</button>
                    </div>
            </div>
 </div>
    
{{ form_end(form) }}